<form
  [formGroup]="petForm"
  (ngSubmit)="onSubmit()"
  [attr.data-cy]="'pet-form'"
  class="flex flex-col gap-4"
>
  <h2 [attr.data-cy]="'form-title'">
    {{
      mode === confirmDialogStates.Details
        ? 'Szczegóły zwierzęcia'
        : data && data.pet
        ? 'Edytuj zwierzę'
        : 'Dodaj zwierzę'
    }}
  </h2>
  <mat-divider></mat-divider>

  <mat-form-field class="width-full">
    <mat-label>Kategoria</mat-label>
    <input
      matInput
      formControlName="category"
      placeholder="Wpisz kategorię"
      [attr.data-cy]="'pet-category'"
    />
  </mat-form-field>

  <mat-form-field class="width-full">
    <mat-label>Nazwa</mat-label>
    <input
      matInput
      formControlName="name"
      placeholder="Wpisz nazwę"
      required
      [attr.data-cy]="'pet-name'"
    />
    @if(petForm.get('name')?.hasError('required')) {
    <mat-error> Nazwa jest wymagana </mat-error>
    }
  </mat-form-field>

  <div formArrayName="photoUrls" class="photo-urls">
    @for(photoCtrl of photoUrls.controls; let i = $index; track i) {
    <div class="photo-url-row flex flex-row items-baseline pt-3">
      <mat-form-field class="width-full">
        <mat-label>Zdjęcie URL {{ i + 1 }}</mat-label>
        <input
          matInput
          [formControlName]="i"
          placeholder="Wpisz URL zdjęcia"
          [attr.data-cy]="'pet-photo-' + i"
        />
        @if(photoUrls.at(i).errors) {
        <mat-error> Podaj poprawny URL </mat-error>
        }
      </mat-form-field>

      @if(mode !== confirmDialogStates.Details && photoUrls.length > 1) {
      <button
        mat-icon-button
        color="warn"
        type="button"
        (click)="removePhotoUrl(i)"
        [attr.data-cy]="'remove-photo-btn-' + i"
      >
        <mat-icon>remove_circle</mat-icon>
      </button>
      }
    </div>
    }
  </div>

  @if(mode !== confirmDialogStates.Details) {
  <div class="my-3">
    <button
      mat-button
      type="button"
      (click)="addPhotoUrl()"
      [attr.data-cy]="'add-photo-btn'"
    >
      Dodaj kolejne URL zdjęcia +
    </button>
  </div>
  }

  <mat-form-field class="tags-container width-full overflow-auto py-3">
    <mat-label>Tagi</mat-label>
    <mat-chip-grid
      #chipGrid
      aria-label="Enter tags"
      [disabled]="mode === confirmDialogStates.Details"
      [attr.data-cy]="'pet-tags-grid'"
    >
      @for(tagCtrl of tags.controls; let i = $index; track i) {
      <mat-chip-row
        [removable]="true"
        (removed)="removeTag(i)"
        [editable]="true"
        [disabled]="mode === confirmDialogStates.Details"
        (edited)="editTag(i, $event)"
        [aria-description]="'Press enter to edit ' + tagCtrl.value"
        [attr.data-cy]="'pet-tag-' + i"
      >
        <img
          matChipAvatar
          src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          alt="Photo of a Shiba Inu"
        />
        {{ tagCtrl.value }}
        <button
          matChipRemove
          [attr.aria-label]="'Remove ' + tagCtrl.value"
          [attr.data-cy]="'remove-tag-' + i"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
      <input
        placeholder="Dodaj tag..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addTag($event)"
        [attr.data-cy]="'add-tag-input'"
      />
    </mat-chip-grid>
  </mat-form-field>

  <mat-form-field class="width-full">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" [attr.data-cy]="'pet-status'">
      @for(status of statusOptions; let i = $index; track i) {
      <mat-option [value]="status" [attr.data-cy]="'status-option-' + status">
        {{ status | petStatus }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if(mode !== confirmDialogStates.Details) {
  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isLoading || (petForm && petForm.invalid)"
      [attr.data-cy]="'submit-pet'"
    >
      {{
        isLoading ? 'Zapisywanie...' : data && data.pet ? 'Aktualizuj' : 'Dodaj'
      }}
    </button>
    <button
      mat-button
      type="button"
      (click)="onCancel()"
      [disabled]="isLoading"
      [attr.data-cy]="'cancel-pet'"
    >
      Anuluj
    </button>
  </div>
  } @if(mode === confirmDialogStates.Details) {
  <div class="actions">
    <button
      mat-button
      type="button"
      (click)="onCancel()"
      [attr.data-cy]="'close-details'"
    >
      Zamknij
    </button>
  </div>
  }
</form>
