.pet-list-table {
  max-height: calc(100vh - 350px);
  overflow: auto;
}

tr.mat-mdc-row:hover {
  background-color: #0079d2;
  color: white;
}

.spinner-center {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  min-width: 100px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  &.available {
    color: white;
    background-color: green;
  }
  &.pending {
    color: white;
    background-color: orange;
  }
  &.sold {
    color: white;
    background-color: red;
  }
}
