@use '@angular/material' as mat;
@use 'theme-colors' as *;
@use 'sass:map';

@include mat.core();

$angular-material-3-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    )
  )
);

$angular-material-3-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $dark-primary-palette,
      tertiary: $dark-tertiary-palette,
    )
  )
);

:root {
  @include mat.color-variants-backwards-compatibility($angular-material-3-light-theme);
  @include mat.all-component-themes($angular-material-3-light-theme);

  & {
    --background-color: #{map.get($neutral-palette, 99)};
    --text-color: #{map.get($neutral-palette, 10)};
  }
}

.dark-mode {
  @include mat.color-variants-backwards-compatibility($angular-material-3-dark-theme);
  @include mat.all-component-colors($angular-material-3-dark-theme);

  & {
    --background-color: #{map.get($dark-neutral-palette, 10)};
    --text-color: #{map.get($dark-neutral-palette, 95)};
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
