<h2 mat-dialog-title>{{ data.title || 'Potwierdzenie' }}</h2>
<mat-dialog-content>
  <p>{{ data.message }}</p>
  <div class="flex flex-col mx-0 m-3">
    @if (data.petId) {
    <span
      >ID: <strong>{{ data.petId }}</strong></span
    >
    } @if (data.petName) {
    <span
      >Nazwa: <strong>{{ data.petName }}</strong></span
    >
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="isLoading">Anuluj</button>
  <button
    [attr.data-cy]="'delete-confirm'"
    mat-raised-button
    color="warn"
    (click)="onConfirm()"
    [disabled]="isLoading"
  >
    @if (isLoading) {
    <div class="flex flex-row items-center gap-4">
      <mat-progress-spinner
        diameter="20"
        mode="indeterminate"
      ></mat-progress-spinner>
      <span>Usuwanie...</span>
    </div>
    } @else {
    <span>Usuń</span>
    }
  </button>
</mat-dialog-actions>
